* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 14;
}

.page {
    width: 1024;
    margin: auto;

}

#header-ul {
    list-style: none;
    padding-top: 5px;
    margin-left: 5px;
}

#header-ul li {
    display: block;
    float: left;
    border-color: #BBB;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    font-size: 14;
    background: #EEE;
}

#header-ul #list-selected {
    border-color: #000;
}

#header-ul #list-selected a{
    background: white;
    position: relative;
    top: 1px;
}

#header-ul a{
    padding-left:  10px;
    padding-right: 10px;
}

.content {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.clear {
    clear: both;
}

.row {
    float: left;
    border: 1px solid black;
    display: none;
    margin-top: 1px;
}

.highlight {
    float: left;
    padding: 5px;
}

.progress {
    float: left;
    padding: 5px;
}

.progress-ta {
        width: 600px;
        height: 80px;
        border: 1px solid #cccccc;
        font-family: Tahoma, sans-serif;
        background-image: url(bg.gif);
        background-position: bottom right;
        background-repeat: no-repeat;
        color: #757575
}

.rag {
    min-height: 20px;
    min-width:  50px;
    background: red;
}

.report-table-footer {
    margin-top: 5px;
}

#submit-report {
    border: 1px red solid;
    float: right;
    padding: 5px;
}

#add-row {
    border: 1px #006e6e solid;
    background: #d6ffff;
    float: left;
    padding: 5px;
}
