* {
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 14px;
}

.page {
    width: 960;
    margin: 10px auto;

}

#header-ul {
    list-style: none;
	float: left;
}

#header-ul li {
    display: block;
    float: left;
    border-radius: 5px 5px 0 0;
	font-weight: bold;
	margin-right: 5px;
	background: #F0B153;
	border: 1px solid #ED9017;
	
}
#header-ul li a {
    display: block;
    padding: 7px 14px;
    cursor: pointer;
}

#header-ul .selected {
    border: 1px solid #D29F00;
    background: #f6e6b4;
}

.tab {
    display:none;
}

#report-table {
	background: #ccc;
}
.clear {
    clear: both;
}

.row {
    float: left;
    display: none;
    margin-top: 3px;
	background: #f6e6b4;
	border: 1px solid #D29F00;
	border-radius: 5px;
    width: 100%;

}

.status {
    float: left;
    padding: 13px;
    margin-left: 10px;
    border: 1px solid #D29F00;
    margin: 5px 20px;
	border-radius: 5px;
}

.report {
    float: left;
    width: 60%;
	margin: 17px 10px 10px 25px;
}

.progress {
    float: left;
    margin: 5px 0;
    width: 100%;
}

.project {
    padding: 2px 10px 2px 0;
    width: 100px;
}
.progress-ta {
        border: 1px solid #d29f00;
        color: #757575;
        width: 100%;
		padding: 5px;
		resize: none;
		height: 65px;
		border-radius: 5px;
}

.rag {
    background: none repeat scroll 0 0 red;
    border-radius: 8px;
    height: 48px;
    width: 100px;
    margin: 10px auto;
}

.highlight-on {
    padding: 10px 5px;
    margin-top: 10px;
    font-weight: bold;
    border: 1px solid #315D0E;
	border-radius: 5px;
    background: #a9db80; /* Old browsers */
    background: -moz-linear-gradient(top, #a9db80 0%, #96c56f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #a9db80 0%,#96c56f 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #a9db80 0%,#96c56f 100%); /* W3C */
}

.highlight-off {
    padding: 10px 5px;
    margin-top: 10px;
    font-weight: bold;
    border: 1px solid black;
	border-radius: 5px;
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #cedce7 0%,#596a72 100%); /* W3C */
}

hr {
	margin: 20px 0 10px 0;
}
.report-table-footer {
    margin-top: 5px;
}

.hours {
    margin: 10px auto;
    text-align: center;
}
.hours input[type="text"] {
    font-family:'SimpleSRegular';
    padding:15px 0;
    text-align:center;
    width:100;
    height:50px;
    border-radius: 8px;
    border: 1px solid #d29f00;
}

input[type="checkbox"] {
	margin: 10px 30px;
}

.milestones {
    float: left;
    width: 100%;
	padding: 2px 10px 2px 0;
}
#submit-report {
    float: right;
}

#add-row {
	    float: left;
}

.button{
    border: 1px #006e6e solid;
    padding: 10px;
	border-radius: 5px;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

@font-face {
    font-family: 'SimpleSRegular';
    src: url('/fonts/simple_s-webfont.eot');
    src: url('/fonts/simple_s-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/simple_s-webfont.woff') format('woff'),
         url('/fonts/simple_s-webfont.ttf') format('truetype'),
         url('/fonts/simple_s-webfont.svg#SimpleSRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div.weekly {
}

div.older-weekly {
    min-height: 100px;
    background-color: #F6E6B4;
    border: 1px solid #D29F00;
    border-radius: 5px;
    margin-top: 3px;
}

div.settings {
    min-height: 100px;
    background-color: #F6E6B4;
    border: 1px solid #D29F00;
    border-radius: 5px;
    margin-top: 3px;
}

div.help {
    min-height: 100px;
    background-color: #F6E6B4;
    border: 1px solid #D29F00;
    border-radius: 5px;
    margin-top: 3px;
}

div.selected {
    display: block;
}

.ms-settings {
    margin: 17px 10px 10px 25px;
}

#ms-select {
    width: 60%;
    border: 1px solid #D29F00;
    resize: none;
    height: 100px;
    padding: 5px 10px;
    background: #CCC;
    font-weight: bold;
}

#ms-input {
    margin-top: 3px;
    width: 420px;
    float:left;
    border: 1px solid #D29F00;
    padding: 10px;
    font-weight: bold;
}

#ms-add {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}

#ms-del {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    display: none;
    width: 109px;
}

#pc-select {
    width: 60%;
    border: 1px solid #D29F00;
    resize: none;
    height: 100px;
    padding: 5px 2px;
    background: #CCC;
    font-weight: bold;
}

#pc-input {
    margin-top: 3px;
    width: 393px;
    float:left;
    border: 1px solid #D29F00;
    padding: 10px 2px;
    font-weight: bold;
}

#pc-add {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}

#pc-del {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    display: none;
    width: 137px;
}


#email-select {
    width: 60%;
    border: 1px solid #D29F00;
    resize: none;
    height: 100px;
    padding: 5px 10px;
    background: #CCC;
    font-weight: bold;
}

#email-input {
    margin-top: 3px;
    width: 426px;
    float:left;
    border: 1px solid #D29F00;
    padding: 10px;
    font-weight: bold;
}

#email-add {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
}

#email-del {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    display: none;
}
